<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.azsamplesdk">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DashboardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".location.LocationSampleActivity"
            android:label="@string/title_activity_location_sample"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ads.AdsSampleActivity"
            android:label="@string/title_activity_location_sample"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="336684a672860d50a11e523f666fbee2d44cf069"
            />


        <!-- <service android:name="com.azsdk.location.utils.MyLocationService"/>-->
    </application>

</manifest>